html, body{
  overflow-x: hidden;
}
.hide{
  display: none;
}
section{
  position: absolute;
  top: -60px;
  left: -40px;
}
button, #clickMe{
  z-index: 5;
  position: relative;
}
#lblcurrentstage{
  position: absolute;
  z-index: 6;
  top: 78%;
  left: 0;
  font-size: 25px;
  text-align: center;
  width: 97%;
  padding: 15px;
  background: #ff70f0;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.common_green {
  position: absolute;
  width: 30px;
  height: 30px;
  /*background: #000;*/
  background-image: url('../img/correct.png');
  /*background-image: url('../img/transparent/correct.png');*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 5;

  /*background-color: #ff70f0;
  border-radius: 50px;*/
}

/*slider*/
  .blkspeed{
    position: absolute;
    z-index: 10;
    /*left: 50px;*/
    /*top: 200px;*/
    right: -94px;
    top: 15px;
    width: 26%;
  }
/*slider ends*/

/*logs table*/
  .logmessageicon{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-position: 0 0;
    background-size: 100% 100%;
  }
  td{
    border: 1px solid #ddd;
    padding: 6px;
  } 
  span.logmessageicon:after {
    content: " ";
    margin-left: 25px;
    position: relative;
    border-right: 1px solid #ddd;
    top: -24px;
    height: 37px;
    display: block;
    left: 5px;
  }
  .blkflowlog{
    position: absolute; 
    left: 735px; 
    width: 332px;
    text-align: center;
    height: 580px;
    overflow: auto;
  }

  /*custom scroll*/
    ::-webkit-scrollbar {
      width: 7px;
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 10px;
    }
  /*custom scroll ends*/
/*logs table ends*/
